fastapi
uvicorn[standard]
jinja2
python-multipart
pydantic
pydantic-settings
python-dotenv

watchdog

pymupdf
python-pptx
python-docx
openpyxl
xlrd
pyxlsb
beautifulsoup4
lxml
extract-msg

langchain-text-splitters
tiktoken

ollama
qdrant-client

aiosqlite
